body {
    background-color: #F1F2F6;
}

form {
    margin-top: 2em;
    text-align: right;
}

.timeslot {
    cursor: pointer;
    padding: 1em;
    margin: 1em 0;
    background-color: white;
}
.timeslot.selected {
    color: #3C763D;
    background-color: #B9DF90;
}

.timeslot h2 {
    margin: 0;
}

.timeslot .players {
    font-size: x-large;
}